# Archivo de configuración para variables de entorno

DATABASE_URL=postgresql://user:password@host:port/db

# Inteligencia Artificial
OPENAI_API_KEY=your_openai_api_key_here

# Meta / WhatsApp
VERIFY_TOKEN=your_verify_token_here
WHATSAPP_TOKEN=your_whatsapp_token_here
PHONE_NUMBER_ID=your_phone_number_id_here